<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192335288214-ffl6cftpiev1dqd4vmvoshjbv8shspbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192335288214-ffl6cftpiev1dqd4vmvoshjbv8shspbc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192335288214-r1i30v1tjf6gmjebg1rl2ns84hil2ibl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYZekf8uWywRoUL4pBlz-POZtIcSNP2rA</string>
	<key>GCM_SENDER_ID</key>
	<string>192335288214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseInitial</string>
	<key>PROJECT_ID</key>
	<string>fir-learn-e99f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learn-e99f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192335288214:ios:f097134eb23d66467f2fb7</string>
</dict>
</plist>